# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw

# Performance logs
stats/

# Virtual environment
.venv/

# Environment variables
.env

# DuckDB
*.db

# Telegram session
session_name/
*.session

# Telegram logs
telegram.log
telegram.log.1

proto/

# Logs
logs/
*.wal
