# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.egg-info

# Performance logs
stats/

# Virtual environment
.venv/

# Environment variables
.env

# DB
*.db
*.sqlite
*.sqlite3
*.sqlite3.zip
*.sqlite3.zip.part
*.sqlite3.zip.part.1
*.sqlite3.zip.part.2
*.sqlite3.zip.part.3

# Telegram session
session_name/
*.session

# Telegram logs
telegram.log
telegram.log.1

proto/

# Logs
logs/
*.wal

