beautifulsoup4
polars
numpy
sentence-transformers
cupy-cuda12x
scikit-learn
matplotlib

--extra-index-url=https://pypi.nvidia.com
cudf-cu12==24.10.*
dask-cudf-cu12==24.10.*
cuml-cu12==24.10.*
cugraph-cu12==24.10.*
nx-cugraph-cu12==24.10.*
cuspatial-cu12==24.10.*
cuproj-cu12==24.10.*
cuxfilter-cu12==24.10.*
cucim-cu12==24.10.*
pylibraft-cu12==24.10.*
raft-dask-cu12==24.10.*
cuvs-cu12==24.10.*
nx-cugraph-cu12==24.10.*
-e .
